body{
	margin: 0px;
	padding: 0px;
	overflow: scroll;
	width: 100%;
	height: 100%;
	font-family: Calibri;
	text-align: left;
	text-indent: 15px;
	background-image: url(background.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: auto 100%;
}

a {
	text-decoration: none;
}

#mainbody a:link {
	color: #FC863F;
}

#mainbody a:visited{
	color: #d16524;
}

header {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h4, h5, h6, h7, h8{
	margin-top: 5px;
	text-align: center;
	font-family: 'BenchNine';
}

h3 {
	margin-top: 35px;
	text-align: center;
	font-family: 'BenchNine';
}

.imgcenter {
	margin-left: auto;
	margin-right: auto;
}

#moviecenter {
	height: 237px;
	width: 421px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#mapcenter {
	height: 350px;
	width: 425px;
	display: bock;
	margin-left: auto;
	margin-right: auto;
}

#bpahead {
	position: absolute;
	left: 65%;
	top: 3%;
	z-index: 1;
	width: 15%;
}

div {
	display: block;
}

#unwrapper{
	width: 80%;
	min-width: 885px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#wrapper{
	float: left;
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#sidebar{
	position: relative;
	float: left;
	overflow: hidden;
	left: 100%;
	
	margin-left: -100%;
	width: 30%;
}

.sidedivs {
	margin-left: 10px;
	margin-right: 10px;
	padding: 3px;
	width: 250px;
	background-color: #FFF; 
}

#followbpa {
	border-radius: 3px;
	margin-top: 20px;
	height: 40px;
	padding-top: 10px;
}

#followbpa h3 {
	margin-left: 0px;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: center;
}

#followbpa img {
	vertical-align: center;
	float: left;
	display: inline;
	margin-left: 8px;
	margin-top: auto;
	margin-bottom: auto;
	height: 30px;
	width: 30px;
	border-radius: 2px;
}

#search{
	border-radius: 3px;
	margin-top: 20px;
	height: 50px;
}

#srcdiv {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#searchbtn {
	vertical-align: middle;
	padding: 1px;
	margin: 0px;
	border-radius: 3px;
}
#q {
	height: 20px;
	size: 10;
	font-family: 'Helvetica';
	color: #777;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 3px;
}

#mainbody{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #FFF;
	padding: 27px;
	max-width: 1000px;
	min-width: 500px;
	min-height: 1000px;
	position: relative;
	float: left;
	overflow: hidden;
	left: 100%;

	margin-left: -68%;
	width: 60%;
}

header img{
	max-width: 100%;
}

img {
 	display: block;
}

.imgleft {
	float: left;
	padding: 7px;
}
.imgright {
	float: right;
	padding: 7px;
}

p {
	text-size: 14pt;
	text-indent: 20px;
	text-align: left;
}

#imgslideshow{
	width: 464px;
	height: 336px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#imgslideshow:hover .arrow{
	display: block;
}

.arrow {
	display: none;
	position: absolute;
	height: 30px;
	width: 15px;
	font-family: 'Benchnine';
	font-size: 17pt;
	background-color: rgba(255, 255, 255, .7);
	border-radius: 2px;
	padding: 3px;
	margin: 0px;
	top: 138px;
	cursor: pointer;
}

.arrow p {
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	margin-left: -15px;
	padding: 0px;
	margin-top: auto;
	margin-bottom: auto;
}

#back {
	left: 7px;
}

#fwd {
	right: 7px;
}

#facts {
	border-radius: 3px;
	margin-top: 20px;
	min-height: 260px;
}

#didyouknow{
	font-size: 17pt;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 3px;
}

#factpic{
	display: table;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
}

#factpic a{
	text-decoration: none;
	color: #000;
	font-size: 7pt;
	margin: 0px;
	padding: 0px;
}

#factpic a:hover{
	text-decoration: underline;
}

#factpic img{
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	clear: all;
}

#factparagraph {
	font-size: 11pt;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	hyphens: auto;
}

hr {
	width: 100%;
	height: 6px;
	border-style: none;
	padding: 0px;
	margin: 0px;
	background-color: #FC863F;	
}

footer, nav {
	display: block;
}

footer {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 700px;
	height: 56px;
	margin-bottom: 0px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FC863F;
	padding: 7px;
	color: #FFF;
}

footer p {
	text-align: right;
	font-size: 10pt;
	margin: 3px;
	padding-bottom; 3px;
}

footer a {
	color: #FFF;
}

nav {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	min-height: 150px;
}

nav ul{
	padding: 0px;
	font-size: 14pt;
	color: #FFF;
	list-style: none;
	text-decoration: none;
}

.navbtn {
	margin-left: 25px;
}

nav ul .navbtn a{
display: block;
 	margin-top: 3px;
 	padding: 3px;
 	padding-left: 10px;
 	background-color: #29CFD9; 
 	width: 170px;
}

nav ul a{
	text-decoration: none;
	color: #FFF;
}

nav ul li ul{
	background-color: #FFFFFF;
}

.navbtn:hover a{
	background-color: #FC863F;
}

#secnavbtn{
	overflow: hidden;
	height: 0px;
	-webkit-transition: height .9s ease-in-out;
	transition: height .9s ease-in-out;

	background-color: #FFFFFF;
}

.navbtn:hover ul #secnavbtn{
	height: 32px;
}

#secnavbtn a{

	background-color: #FFF;
	color: #29CFD9;
	margin-left: 20px;
	margin-top: 3px;
	padding: 3px; 
	width: 160px;
}

#secnavbtn:hover a{
	color: #FC863F; 
}