body{
font-family: Calibri;
text-align: left;
text-indent: 15px;
background-image: url('C:/Users/Katrina/Desktop/inceptus/anotherbackground.jpg');
background-attachment: fixed;

}

#headerthing{
text-size: 2;
text-align: center;
}

#nowyourejustsomeheaderthatiusedtoknow{
text-size: 2;
text-align: center;

}

#text{
text-size: 14px;
text-indent: 20px;
text-align: left;

}
